.container{
    grid-area: h;
    width: 100%;
    z-index: 100;
    display: grid;
}

.logo{
    width: 3em;
}

@media (max-width: 767px) {
    .logo{
        margin-left: 45vh;
    }
}

@media (min-width:768px) {
    .container{
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
